[submodule "muggy/thirdparty/glfw"]
	path = muggy/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "muggy/thirdparty/vulkan-loader"]
	path = muggy/thirdparty/vulkan-loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
