[submodule "muggy/thirdparty/glfw"]
	path = muggy/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "muggy/thirdparty/vulkan-loader"]
	path = muggy/thirdparty/vulkan-loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "muggy/thirdparty/vulkan-tools"]
	path = muggy/thirdparty/vulkan-tools
	url = https://github.com/KhronosGroup/Vulkan-Tools.git
[submodule "muggy/thirdparty/spirv-tools"]
	path = muggy/thirdparty/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "muggy/thirdparty/vulkan-validatonLayers"]
	path = muggy/thirdparty/vulkan-validationLayers
	url = https://github.com/KhronosGroup/Vulkan-ValidationLayers.git
